.container .weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.container .weather-app-contain {
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.h4 {
  text-align: center;
}

.col .current-city {
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: -10px;
}

.weather-forecast {
  text-align: center;
}

.units {
  font-size: 18px;
}

.temperature {
  font-size: 30px;
}

img {
  block-size: 40px;
}

.git {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.weather-temperature img {
  margin-right: 5 px;
  height: 60px;
  width: 60px;
  margin-top: -30px;
}

.weather-temperature .temperature {
  font-size: 60px;
  line-height: 64px;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -25px;
}

.weather-temperature .units .celsius-sign {
  text-decoration: none;
}

.weather-temperature .units .fahrenheit-sign {
  text-decoration: none;
}

.weather-attributes .weather-condition {
  margin-top: 5px;
  text-transform: capitalize;
}
